<div class="container">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" routerLink="gauge">Home IoT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="gauge">REAL-TIME GAUGE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="chart">DAILY CHART</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">LOGIN</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="logout">LOGOUT</a>
      </li>
    </ul>
  </div>
  </nav>
  <router-outlet></router-outlet>
</div>
