<div class="jumbotron jumbotron-fluid header p-2">
    <div class="container pt-1 h-100">
        <div class="d-flex flex-wrap justify-content-center align-content-center align-items-start">
            <div *ngFor="let data of GaugeData; let i = index" [attr.data-index]="i" >
                <div class="d-flex flex-column align-items-center">
                <h4>Room {{(i+1)}}</h4>
                <div *ngIf="data.ledState !== ''" class="d-flex flex-column align-items-center">
                    <h5>LED</h5>
                    <div class="custom-control custom-switch">
                        <input id="switch1+{{i}}" type="checkbox" class="custom-control-input" [checked]="data.ledVal" (click)="onClickLed(i+1)">
                        <label class="custom-control-label" for="switch1+{{i}}">LED</label>
                    </div>
                </div>
                <br />
                <div *ngIf="data.temperature !== ''" class="d-flex flex-column align-items-center">
                    <h5>Temperature</h5>
                    <rg-gauge-chart
                        id="chart1+{{i}}"
                        [canvasWidth]="canvasWidth"
                        needleValue={{data.tempVal}}
                        centralLabel=""
                        [options]="optionsTemp"
                        bottomLabel={{data.temperature}}>
                    </rg-gauge-chart>
                </div>
                <br />
                <div *ngIf="data.humidity !== ''" class="d-flex flex-column align-items-center">
                    <h5>Humidity</h5>
                    <rg-gauge-chart
                        id="chart2+{{i}}"
                        [canvasWidth]="canvasWidth"
                        needleValue={{data.humidity}}
                        centralLabel=""
                        [options]="optionsHum"
                        bottomLabel={{data.humidity}}>
                    </rg-gauge-chart>
                </div>
                <br />
                <div *ngIf="data.brightness !== ''" class="d-flex flex-column align-items-center">
                    <h5>Brightness</h5>
                    <rg-gauge-chart
                        id="chart3+{{i}}"
                        [canvasWidth]="canvasWidth"
                        needleValue={{data.brightVal}}
                        centralLabel=""
                        [options]="optionsBright"
                        bottomLabel={{data.brightness}}>
                    </rg-gauge-chart>
                </div>
                <br />
                </div>
            </div>
        </div>
    </div>
</div>